/* For use in src/lib/core/theming/_palette.scss */
$md-leendbooks: (
    50 : #e9fdf5,
    100 : #c8fae5,
    200 : #a3f7d4,
    300 : #7ef4c2,
    400 : #62f1b5,
    500 : #46efa8,
    600 : #3feda0,
    700 : #37eb97,
    800 : #2fe88d,
    900 : #20e47d,
    A100 : #ffffff,
    A200 : #e8fff2,
    A400 : #b5ffd6,
    A700 : #9cffc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

