<div id="home-container">
  <section id="home-section">
    <aside id="home-aside">
      <div id="aside-profile">
        <div id="image-profile">
          <img src="https://avatars.githubusercontent.com/u/51142291?v=4">
        </div>
        <div id="profile-info">
          <div id="profile-header">
            <h1>Rodrigo Andrade</h1>
          </div>
          <div id="profile-content">
            <p>Meu genêro favorito é suspense, estilo Agatha Cristie e gosto de Stephen King também, então já sabe o que me emprestar ou pedir.</p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <nav id="aside-nav"></nav>
      <div id="aside-footer"></div>
    </aside>
    <main id="home-main-content">
      <h1>Hello 👋</h1>
    </main>
  </section>
</div>
