<div id="home-container">
  <section id="home-section">
    <aside id="home-aside">
      <div id="aside-profile">
        <div id="image-profile">
          <img src="https://avatars.githubusercontent.com/u/51142291?v=4">
        </div>
        <div id="profile-info">
          <div id="profile-header">
            <h1>Rodrigo Andrade</h1>
          </div>
          <div id="profile-content">
            <p>Meu genêro favorito é suspense, estilo Agatha Cristie e gosto de Stephen King também, então já sabe o que me emprestar ou pedir.</p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <nav id="aside-nav">
        <ul>
          <a href="">
            <li class="selected">
              <mat-icon aria-hidden="false" aria-label="My Library">domain</mat-icon>
              <div class="aside-nav-text">Minha biblioteca</div>
            </li>
          </a>
          <a href="">
            <li>
              <mat-icon aria-hidden="false" aria-label="My lend books">import_contacts</mat-icon>
              <div class="aside-nav-text">Livros emprestados</div>
            </li>
          </a>
          <a href="">
            <li>
              <mat-icon aria-hidden="false" aria-label="My frieds">person</mat-icon>
              <div class="aside-nav-text">Amigos</div>
            </li>
          </a>
          <a href="">
            <li>
              <mat-icon aria-hidden="false" aria-label="settings">settings</mat-icon>
              <div class="aside-nav-text">Configurações</div>
            </li>
          </a>
          <a href="">
            <li>
              <mat-icon aria-hidden="false" aria-label="Logout">power_settings_new</mat-icon>
              <div class="aside-nav-text">Sair</div>
            </li>
          </a>
        </ul>
      </nav>
      <div id="aside-footer">
        <div id="aside-footer-content">
          <div id="aside-footer-content-svg">
            <img src="/assets/svg/undraw_people_re_dlle.svg" width="276" height="213">
          </div>
          <div id="aside-footer-content-text">
            <p>Se lendbooks transforma o seu jeito de controlar o seus livros, considere fazer uma doração.</p>
          </div>
        </div>
        <div id="aside-footer-action">
          <button
            mat-raised-button
            color="primary"
            (click)="null"
          >Apoiar</button>
        </div>
      </div>
    </aside>
    <main id="home-main-content">
      <h1>Hello 👋</h1>
    </main>
  </section>
</div>
