#auth-container {
  background-color: whitesmoke;
  flex: content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#auth-section {
  width: 1280px;
  height: 680px;
  box-shadow: 0px 0px 4px 0 rgb(0, 0, 0, 0.25);
}

#auth-section {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
}

#left-panel {
  background-color: #46EFA8;
  height: 100%;
}

#left-panel-content{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  justify-items: center;
  justify-content: space-between;
}

#left-panel-content-title {
  padding: 1.5em;
  color: white;
}

#left-panel-content-title span{
  color: black;
}

#left-panel-content-infotext {
  padding: 1.5em;
  color: white;
}

#left-panel-content-infotext h3 {
  font-weight: normal;
}

#left-panel-content-footer {
  margin: 0;
  padding: 0;
  width: 100%;
}

#left-panel-content-footer img {
  margin-bottom: -3px;
  padding: 0;
}

#main-panel {
  height: 100%;
}
