<div id="auth-container">
  <section id="auth-section">
    <aside id="left-panel">
      <section id="left-panel-content">
        <div id="left-panel-content-title">
          <h2>Lend<span>Books</span></h2>
        </div>
        <div id="left-panel-content-infotext">
          <h3>
            Com o LendBooks você define um novo jeito de emprestar livros para
            os seus confiáveis amigos.
          </h3>
          <h2>Controle dos seus livros nas suas mãos.</h2>
        </div>
        <div id="left-panel-content-footer">
          <img src="assets/svg/footer-logo.svg">
        </div>
      </section>
    </aside>
    <main role="main" id="main-panel"></main>
  </section>
</div>
